<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 <bean id="item" class="com.javapoint.Item">
 	<property name="no" value="1"></property>
 	<property name="itemName"  value="computer"></property>
 </bean>
 
 <bean id="store" class="com.javapoint.Store">
 	<property name="item" ref="item"></property>
 </bean>
 </beans>